@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Shared styles */

.container {
    max-width: 1140px;
    margin: 0 auto;
}

p {
    font-family: "Inter", sans-serif;
}

h1 {
    font-family: "Noto Serif", serif;
}

.red-color {
    color: #E95A08;
}

.section-title{
    font-size: 50px;
    font-weight: bold;
}

.all-description{
    color: rgba(0, 0, 0, 0.5);
    font-size: 22px;
}










/* Header styles */

/* Navbar styles */

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}

.navbar ul {
    display: flex;
    gap: 48px;
}

.navbar ul li {
    list-style: none;
}

.navbar ul a {
    text-decoration: none;
    color: #8987A1;
}

.navbar ul li .home-bold {
    color: #252432;
    font-weight: bold;
}

.navbar .cart-icon {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #000000;
}

/*  Banner styles  */

.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
}

.banner-title {
    font-size: 65px;
    font-weight: bold;
    margin-bottom: 20px;
}

        /* Our Plants section styles */

.our-plants{
    text-align: center;
    margin-top: 120px;
}

.our-plants p{
    margin: 16px auto;
    max-width: 880px;

}

.plant-card{
    margin-bottom: 30px;
}

.plant-card .plant-name{
    font-size: 22px;
    font-weight: 500;
    font-family: inter;
    color: #111111;
    margin: 25px 0 12px 0;
}

.plant-card .plant-price{
font-size: 22px;
font-weight: bold;
font-family: inter;
color: #111111;
}

.plant-card .cart-btn{
    color: white;
    background-color: #E95A08;
    font-family: inter;
    font-weight: 600;
    width: 270px;
    border: none;
    height: 50px;
    margin-top: 27px;
}

.our-plants-card-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 45px;
}


        /* Flower and plants lover styles  */

.f-plants-lover{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    margin-top: 200px;
}

.f-plants-lover-left{
    position: relative;
}

.trusted-badge{
    width: 280px;
    position: absolute;
    right: -94px;
    top: -125px;
    
}


@keyframes spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.trusted-badge{
  animation: spinner 4s linear infinite;
}


.f-p-l-r-desc{
    color: #8987A1;
    margin: 20px 15px;
    font-size: 22px;

}

        /* Latest deals section styles */

.latest-deals{
    text-align: center;
    margin-top: 130px;
    margin-bottom: 120px;
}

.latest-deals p{
    max-width: 880px;
    margin: 16px auto 120px auto;

}

.deals-items-container{
   display: flex;
   align-items: center;
   gap: 20px;
   justify-content: space-between;
max-width: 1140px;
height: 423px;
}

.deals-item-1{
background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('assets/deal-bloom.png');
width: 367px;
height: 200px;
border-radius: 14px;
background-repeat: no-repeat;
color: white;
margin-bottom: 22px;
}

.deals-item-2{
background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('assets/deal-ana.png');
width: 367px;
background-repeat: no-repeat;
height: 200px;
color: white;
border-radius: 14px;
}

.deals-item-3{
background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
url('assets/deal-zabo.png');
width: 750px;
background-repeat: no-repeat;
border-radius: 14px;
color: white;
height: 100%;
}

.deals-img{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}









/* Responsive design */

@media screen and (max-width:576px) {

    .navbar {
        padding: 0 16px;
    }

    .navbar figure img {
        width: 95px;
    }

    .navbar ul li {
        display: none;
    }

    .cart-img {
        width: 30px;
    }

    .cart-icon span {
        font-size: 18px;
    }

    .banner {
        flex-direction: column-reverse;
        gap: 27px;
        margin-top: 30px;
    }

    .banner-img img {
        width: 100%;
    }

    .banner-details{
        padding: 0 16px;
    }

    .banner-title{
        font-size: 32px;
        padding-right: 90px;
    }

    .all-description{
        font-size: 18px;
    }

    .our-plants{
        margin-top: 66px;
        padding: 0 13px;
    }
    .section-title{
        font-size: 29px;
    }

    .our-plants-card-container{
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;

}
.plant-card{
    width: 100%;
}

.plant-card img{
width: 100%;
}

.plant-card .cart-btn{
    width: 100%;
}

.f-plants-lover{
    flex-direction: column;
    margin-top: 40px;
    padding: 16px;
    gap: 20px;
}

.f-p-l-r-desc{
    font-size: 18px;
}
.f-plants-lover-left img{
    width: 100%;
}

.trusted-badge{
    display: none;
}




}